doctype html
html(lang="en")
  head
    title = 'Splenda Housemate Bills'
    script(type='text/javascript', src="https://code.jquery.com/jquery-2.1.1.min.js")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js")
    script(src="main.js")
  body
    ul.collection
      a.collection-item(href="www.google.com")Alan
        span.badge 1
