extends layout

block page_title
  title Splenda Housemate Bills

block body_content
  h1 Hi! This is the new Splenda Housemate System!
  ul
    li
      a(href="/bills") Go to Bills
    li
      a(href="/cashflow") Go to Cash Flow Graph
