.left-navbar{
	height:100px;
}

.backgroundtest{
	background-color: red;
}

.main{
	margin-left: 240px;
}
.bill-title{
	padding-left: 10px;
}

@media (max-width: 992px) {
	.main {
		margin-left: 0px;
	}
}

