extends ../layout

block body_content

  
  nav
    ul.right.hide-on-med-and-down
      li
        a(href="#!") Login
      li
        a(href="#!") Sign up to be a Paultato
    ul#slide-out.side-nav.fixed.col.s12.m4.l3
      li
        a(href="#!") Bills
      li
        a(href="#!") Cashflow
    a.button-collapse(href="#" data-activates="slide-out")
      i.mdi-navigation-menu

  div(style="margin-left: 240px;") 
    // For 980px change CSS remove margin-left padding
    div.row
      div.col.s12.m12.l12
        p.backgroundtest :Akljdask;f

block js_custom
  script(type="text/javascript")
    $(".button-collapse").sideNav();
