extends ../layout

block page_title
  title Splenda Housemate Bills

block body_content
  ul.collection
    li.collection-item
      a(href="www.google.com") Alan
        span.badge 1
    li.collection-item
      a(href="www.google.com") Paultato
        span.new.badge 1
