extends ../layout

block body_content
  script(src="js/Chart.js")
  
  nav
    ul.right.hide-on-med-and-down
      li
        a(href="#!") Login
      li
        a(href="#!") Sign up to be a Paultato
    ul#slide-out.side-nav.fixed.col.s12.m4.l3
      li
        a(href="#!") Bills
      li
        a(href="#!") Cashflow
    a.button-collapse(href="#" data-activates="slide-out")
      i.mdi-navigation-menu

  div.main
    // For 992px change CSS remove margin-left padding
    div.row
      h1.bill-title Bills for {{#month}}
      div.col.s12.m3.l2
        div.card
          div.card-image
            img(src="img/user.jpg")
            span.card-title Paul
          div.card-content
            p Status: "I like to be a good boy and pay bills on time!"
          div.card-action
            a(href="#") See more about {{#user}} 
      div.col.s10.m5.l3.cost-breakdown
        h4 Rent : {{#rent}}
        h4 Power: {{#power}}
        h4 Internet: {{#internet}}
        h4 Miscellaneous: {{#other}}
      canvas#billDoughnut(width="400", height="400")


        


block js_custom
  script(type="text/javascript")
    $(".button-collapse").sideNav();

  //Script to pull billing information from
  //backend: Rent, Power, Internet, Other.
  //This should be passed into following script
  //into data's value segments.
  script(type="text/javascript")
    var data = [{
      value: 300,
      color:"#F7464A",
      highlight: "#FF5A5E",
      label: "Red"
      },
      {
          value: 50,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green"
      },
      {
          value: 100,
          color: "#FDB45C",
          highlight: "#FFC870",
          label: "Yellow"
      }
    ]

    var myDoughnutChart = new Chart(ctx[1]).Doughnut(data,options);